<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agenda cita</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Agenda tu cita</h1>
       <form action="formulario" method="get"> 
            <tr>
                <td>
                    <label for="Nombre">Nombre del dueno</label>
                    <input type="text" name="Nombre" placeholder="Omar Martinez" id="Nombre">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="Nombre Mascota"> Nombre de la mascota</label>
                    <input type="text" name="Nombre Mascota" placeholder="Lola" id="Nombre Mascota">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="Telefono">Telefono</label>
                    <input type="text" name="Telefono" placeholder="123456789" id="Telefono">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="Animal">Animal</label>
                    <select name="Animal" id="Animal">
                        <option id="Animal">Perro</option>
                        <option id="Animal">Gato</option>
                        <option id="Animal">Pez</option>
                        <option id="Animal">Hanster </option>
                        <option id="Animal">Mono</option>
                        <option id="Animal">Ave</option>
                        <option value="Animal">Morrocoy</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="Fecha">Fecha de la cita</label>
                    <input type="date" name="Fecha" id="Fecha">
                </td>
            </tr>


            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="reset">
                </td>
            </tr>
       </form>
       
    
    
   </main>
</body>            
</html>
