<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/contactList.css">
    <title>¡Éxito!</title>
</head>
<body>
    <h1>¡Formulario enviado correctamente!</h1>
    <p>Gracias por registrar a tu mascota.</p>
    <a href="/admin/contacts">Ver Registros</a>
</body>
</html>
